[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=duplicate-code,
        invalid-name,
        line-too-long,
        logging-fstring-interpolation,
        missing-class-docstring,
        missing-module-docstring,
        redefined-outer-name,
        too-few-public-methods,
        too-many-locals,
        too-many-statements,
        trailing-whitespace,